<template>
  <div>
    <div class="text-center d-flex justify-content-between">
      <b-spinner
        v-for="variant in variants"
        :variant="variant"
        :key="variant"
        :type="type"
        :label="label"
      ></b-spinner>
    </div>
  </div>
</template>

<script>
  export default {
    name: "base-spinner",
    props: {
      type: {
        type: String,
        default: "",
        description: "Spinner type (e.g grow,  etc)"
      },
      label: {
        type: String,
        default: "",
        description: "Spinner label"
      },
    },
    data() {
      return {
        variants: ['primary', 'secondary', 'danger', 'warning', 'success', 'info', 'light', 'dark']
      }
    }
  }
</script>
