//
// Avatar
//

@import "../core/avatars/avatar";
@import "../core/avatars/avatar-group";

.avatar {
    background-color: #adb5bd38;
}

.avatar.avatar-size-m{
  width: 64px;
  height: 64px;
}
.avatar.avatar-size-mm{
  width: 100px;
  height: 100px;
}

.avatar.avatar-size-l{
  width: 128px;
  height: 128px;
}
.avatar.avatar-size-xl{
  width: 256px;
  height: 256px;
}
.avatar.avatar-size-xxl{
  width: 512px;
  height: 512px;
}
