//
// Badge
//

@import "../core/badges/badge";
@import "../core/badges/badge-circle";
@import "../core/badges/badge-dot";


.badge .font-140-percent{
  font-size: 140%;
}
.badge .font-130-percent{
  font-size: 130%;
}
.badge .font-100-percent{
  font-size: 100%;
}
.badge .font-110-percent{
  font-size: 110%;
}
.badge .font-120-percent{
  font-size: 120%;
}
.badge .font-90-percent{
  font-size: 90%;
}
.badge .font-80-percent{
  font-size: 80%;
}

.badge-success{
  background-color:#09AEA5;
}
