//
// Button
//

@import "../core/buttons/button";
@import "../core/buttons/button-icon";
@import "../core/buttons/button-brand";


.btn-outline-secondary.bg-outline-secondary-gray {
    background-color: #ececec;
    color: #676767;
}
.btn-outline-secondary.bg-outline-secondary-gray:hover {
    background-color: transparent;
    color: #676767;
}
.btn-outline-dark.bg-outline-dark-gray {
    border-color: #e7eaed;
}


.btn.btn-rounded {
    border-radius: 100%;
}
btn.btn-rounded.btn-icons {
    width: 45px;
    height: 45px;
    padding: 0;
}
.btn.btn-rounded.btn-icons.btn-sm, .btn-group-sm > .btn.btn-rounded.btn-icons {
    width: 40px;
    height: 40px;
}
.btn-primary{ 
    background-color: #FF9966 !important;
    border-color: #ff905d !important;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #FF6F42;
    border-color: #FF6F42;
}

.btn .font-140-percent{
  font-size: 140%;
}
.btn .font-130-percent{
  font-size: 130%;
}
.btn .font-100-percent{
  font-size: 100%;
}
.btn .font-110-percent{
  font-size: 110%;
}
.btn .font-120-percent{
  font-size: 120%;
}
.btn .font-90-percent{
  font-size: 90%;
}
.btn .font-80-percent{
  font-size: 80%;
}

.btn-success {
    color: #fff;
    background-color: #0cada4;
    border-color: #0cada4;
}
