//
// Dropdown
//

@import "../core/dropdowns/dropdown";

.dropdown-item {
  color: #212529cf;
}
/* BIS Custom */
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ff935f;
}
