//
// Navbar
//

@import "../core/navbars/navbar";
@import "../core/navbars/navbar-vertical";
@import "../core/navbars/navbar-search";
@import "../core/navbars/navbar-dropdown";
@import "../core/navbars/navbar-collapse";



@media (min-width: 768px){
  .navbar-vertical.navbar-expand-md .navbar-brand-img{
      max-height: 4rem;
  }
}
.navbar-nav .nav-link:hover{
  cursor: pointer;
}

.nav-text-light .container-fluid a, .nav-text-light .container-fluid .nav-item a.link-shopping i {
    color: #ffffff;
}
.nav-text-light .container-fluid a, .nav-text-light .container-fluid .nav-item a.link-shopping svg {
    color: #ffffff;
}
.nav-text-light .container-fluid a.dropdown-item {
    color: #212529cf;
}
.nav-text-light .container-fluid a.dropdown-item.active {
    color: #ffff;
}


.nav-text-light .badge-shopping.badge-danger{
  color: #4a4343;
  background-color: rgba(255, 255, 255, 0.82);
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #f5365c;
}
.navbar-vertical .navbar-nav .nav-link.active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.25rem;
    bottom: 0.25rem;
    border-left: 2px solid #f5365c;
}

@media (max-width: 767.98px)
{
  .navbar-nav .nav-link.active {
    color: #f5365c !important;
  }
}
@media (min-width: 768px){
  .navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
      top: 0.25rem;
      bottom: 0.25rem;
      left: 0;
      right: auto;
      border-left: 2px solid #f5365c;
      border-bottom: 0;
  }
}
