//
// Nav
//


@import "../core/navs/nav";
@import "../core/navs/nav-pills";


.navbar-dark-disabled .nav-link{
  color: #32325d;
}
.navbar-dark-disabled.nav-text-light .nav-link {
    color: #ffffff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: #fff;
    background-color: #FF9966 !important;
}