iframe {
    border: 0;
}

figcaption,
figure,
main {
    display: block;
}

main {
    overflow: hidden;
}

a {
    color: #f5365c;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #ea244c;
    text-decoration: none;
}
