html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*font-size: 13px;
    font-weight: 300;
    font-family: Poppins;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}

.main-content{
    height: auto;
    min-height: 100%;
}

#app{
  height:100%;
}


body, html{
    font-family: Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif ;
}

@media (max-width: 1024px){
  .vue-notification-group{
    width: 100%!important;
    /*bottom: auto!important;*/
  }
  .vue-notification, .vue-notification-template{
    text-align: center !important;
  }
}
@media (max-width: 576px){
  .vue-notification-group{
    width: 100%!important;
    /*bottom: auto!important;*/
  }
  .vue-notification, .vue-notification-template{
    text-align: center!important;
  }
}

.floating-button {
    /*left: 88%; */
    /* top: 180px; */
    /*top: -44px;
    display: inline-flex;*/
    position: absolute;

}
.floating-button{
  position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    z-index: 1500;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    opacity: 0.8;
    /* background-color: #2196f3;*/
    background-color: #5e72e4;
    background-color: #f5365c;
    color: #fff;
    border: 1px solid #efefef63;
}
.floating-button.floating-white{
  background-color: #ffffff;
}

.floating-button:hover{
  opacity: 1;
  /* background-color: #2196f3;*/
  /*background-color: #5e72e4;*/
}

.floating-button.avatar-camera:focus i{
  color: #fff;
}

.bg-gradient-success.theme-clean{
  background: none !important;
}

.font-weight-normal-up {
    font-weight: 500 !important;
}

.font-weight-normal-up .form-control-label{
  font-weight: 500 !important;
}

.navbar ul.navbar-nav i {
  font-size: 1.2rem;
}
@media (max-width: 767.98px) {
  .navbar ul.nav i{
    font-size: 1.4rem;
  }
}

.badge-shopping{
    /* height: 1.2rem; */
    min-width: 1.2rem;
    margin-top: -10px;
    margin-left: -20px;
    width: auto !important;
}
.badge-yellow {
  color: #32325c;
  background-color: #ffeb3bb8;
}
.badge-light-lime {
    color: #000000;
    background-color: #d4e157;
}

.badge-lime {
    color: #000;
    background-color: #c0ca33;
}

.badge-light-deep-orange {
  color: #000000;
  background-color: #ff8a65;
}
.badge-orange {
    color: #000000;
    background-color: #ffab40;
}

/*nav-pills Custom BIS */
.nav-pills .nav-link{
  color: #f5365c;
}
.nav-pills .nav-link:hover{
  color: #ea244c;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #5e72e4;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #f5365c;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #f47933 !important;
}
.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
  top: 0.25rem;
  bottom: 0.25rem;
  left: 0;
  right: auto;
  border-left: 2px solid #f47933;
  border-bottom: 0;
}

.bg-primary {
    background-color:#0FACAB!important;
}

.btn-primary {
    color: #fff;
    background-color: #f5365c;
    border-color: #f5365c;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
/*.btn-primary:hover {
  color: #fff;
  background-color: #E5324D;
  border-color: #E5324D;
}*/
.btn-primary:hover {
    color: #fff;
    background-color: #ed8d0f;
    border-color: #ed8d0f;
}


.btn-outline-primary {
    color: #f5365c;
    background-color: transparent;
    background-image: none;
    border-color: #f5365c;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #E5324D;
  border-color: #E5324D;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #E5324D;
    border-color: #E5324D;
}
.bg-gradient-primary {
    /*background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;*/
    background: linear-gradient(87deg, #E5324D 0, #f06a7f 100%) !important;
}

.header.bg-primary-custom{
  /*background-image: linear-gradient(to right bottom, #f06177, #ee566d, #eb4b62, #e83f58, #e5324d);*/
  background-image: linear-gradient(to right bottom, #f06a7f, #ee5e73, #ec5067, #e9425a, #e5324d);
}

/*Text custom */
.text-primary {
  color: #ed8d0f !important;
}

/*BTN */

/* Vue filter date  custom */
.card-header .vc-text-base {
    font-size: 14px !important;
}
.card-header .vc-text-base{
  text-align:right;
}


.alert .alert-inner--icon {
    font-size: 1.25rem;
    margin-right: 0.9rem;
    display: inline-block;
    vertical-align: middle;
}
.alert-yellow {
    color: #32325c;
    background-color: #ffeb3bb8;
    border-color: #ffeb3bb8;
}
.alert-light-deep-orange {
  color: #000000;
  background-color: #ff8a65;
  border-color: #ff8a65;
}
.alert-orange {
    color: #000000;
    background-color: #ffab40;
    border-color: #ffab40;
}
.alert-light-lime {
    color: #000000;
    background-color: #d4e157;
    border-color: #d4e157;
}

.alert-lime {
    color: #000;
    background-color: #c0ca33;
    border-color: #c0ca33;
}
.text-first-upper:first-letter {
  text-transform: uppercase
}
.btn-max-100{
  max-width: 100px;
}
.btn-max-150{
  max-width: 150px;
}
.btn-max-200{
  max-width: 200px;
}

.btn-copy-text{
  cursor:pointer;
}

.btn-border-muted{
  border: 1px solid #00000038;
}
.select-box-disabled-input-style{
    color: inherit !important;
    border: none;
    background: none;
    box-shadow: none;
    background-color: #ffffff00 !important;
}

.item-vertical-center{
  vertical-align:middle !important;
}

/* Custom Back office Theme css */
.box-backoffice{
    /*background-color: #d5dbde21;*/
    border-radius: 10px;
    font-weight:600;
}

.theme-backoffice-dark{
  background-color:#0d3455 !important;
  .nav-link {
      color: #6c7a9c;
  }

  .nav-link:hover{
    color: #f5365c;
  }

}

.theme-backoffice-dark.navbar-light .navbar-nav .nav-link {
  color: #6d7da2;
}
.theme-backoffice-dark.navbar-light .navbar-brand {
  color: #ffffff;
}
.theme-backoffice-dark.navbar-light .navbar-nav .nav-link.active {
   color:#ffffff!important;
}

@media (max-width: 767px){
  .theme-backoffice-dark.navbar-light .navbar-nav .nav-link.active {
    color:#ed8e0e!important;
  }
}

.theme-backoffice-dark .navbar-toggler-icon {
    background-image:str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#ffffffa1' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
}
.theme-backoffice-dark .navbar-toggler-icon:hover,
.theme-backoffice-dark .navbar-toggler-icon:active,
.theme-backoffice-dark .navbar-toggler-icon:focus{
    background-image:str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");
}

.flex-box-80{
  width:80px;
  height:80px;
  display: flex;
}
.flex-box-100{
  width:100px;
  height:100px;
  display: flex;
}
.flex-box-120{
  width:120px;
  height:120px;
  display: flex;
}
.flex-box-150{
  width:150px;
  height:150px;
  display: flex;
}
.flex-box-200{
  width:200px;
  height:200px;
  display: flex;
}
.flex-box-250{
  width:250px;
  height:250px;
  display: flex;
}

.item-vertical-center{
  vertical-align:middle !important;
}


/***

 #### Custom Color for Back office ####

*****/

a {
    color: #ed770e;
}

.btn-primary {

    color: #fff;
    background-color: #ed8e0e;
    border-color: #ed8e0e;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

}
.btn-primary:hover{
  color: #fff;
  background-color: #ed770e;
  border-color: #ed770e;
}
.btn-primary:focus,
.btn-primary.active{
  color: #fff;
  background-color: #ed770e;
  border-color: #ed770e;
}
.page-item.active .page-link{
  color: #fff;
  background-color: #ed8e0e;
  border-color: #ed8e0e;
}
.bg-gradient-login {
    background: linear-gradient(87deg, #FF9966 0, #FF6F42 100%) !important;
}
.fill-default {
    fill: #0e3455;
}
.bg-default {
    background-color: #0d3455 !important;
}


/* Profile custom */
.header.bg-primary-custom {
    background-image: linear-gradient(to right bottom, #ff9966, #ff8f5c, #ff8553, #ff7a4a, #ff6f42);
}

.nav-pills .nav-link {
    color: #ea9207;
}
.nav-pills .nav-link:hover {
    color: #ea9207;
}

.btn-outline-primary {
    color: #ea9207;
    background-color: transparent;
    background-image: none;
    border-color: #ea9207;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #ff9a66;
    border-color: #ff9a66;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #ea9207;
    border-color: #ea9207;
}
.text-orange {
    color: #ed8e0e !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ed8e0e;
}

/*Setting */

.custom-toggle input:checked + .custom-toggle-slider:before {
    background: #ed8e0e;
    -webkit-transform: translateX(1.625rem);
    transform: translateX(1.625rem);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ea9207;
}


.btn-action-default{
    color: #fff;
    background-color: #acb5bd;
    border-color: #acb5bd;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn-action-default:hover{
    color: #fff;
}

.btn-action-default-v2{
    color: rgba(0,0,0,.26);
    background-color: rgba(0,0,0,.09);
}

.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.bg-gray-light-extra {
    background-color: #f6f9fc !important;
}

.box-shadow {
  box-shadow: 1px 1px 6px 0px #c8cbcc;
  
}

.theme-backoffice-dark {
    /* background-color: #FF9966!important;
    /* background-image: linear-gradient(to right, #ff9966, #ff8f5c, #ff8553, #ff7a4a, #ff6f42); */
    /* background-image: linear-gradient(to left, #ff9966, #ff8f5c, #ff8553, #ff7a4a, #ff6f42); */
    /* background-image: linear-gradient(to bottom, #ff9966, #ff8f5c, #ff8553, #ff7a4a, #ff6f42); */
    /* background-image: linear-gradient(to bottom, #0cada4, #0ba29a, #0b978f, #0a8c85, #0a817b); */ 
}

.theme-backoffice-dark.navbar-light .navbar-nav .nav-link {
    color: #fff;
    opacity: 0.8;
}
.theme-backoffice-dark.navbar-light .navbar-nav .nav-link.active {
    color: #fff!important;
    font-weight: 600;
    opacity: 1;
}

@font-face {
  font-family: 'Prompt';
  src: url('../font/Prompt-Regular.ttf') format('truetype');
}

body, html{
    font-family: 'Prompt', Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif ;
}

.copy-text-box {
    display: flex;
    width: 44px;
    height: 44px;
    i{
      margin-top: -3px;
      display: block;
    }

    &:hover {
        background-color: #2dce89;
        border-radius: 100%;
    }
    &:hover i{
        color: #fff;
    }
    
}

.avatar-xl {
    width: 100px;
    height: auto;
}
