<template>
  <div>
   <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8 theme-clean"></base-header>
    <div class="container-fluid mt--9">
      <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <card style="min-height:500px">
            <div slot="header" class="row align-items-center">
              <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                <h5 class="h3 mb-0">
                  <router-link :to="{ name: 'reports' }" class>
                    <span>รายการสินค้า</span>
                  </router-link>
                </h5>
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                  <label class="col-4">ร้านค้า</label>
                  <b-form-select class="col-8" v-model="selectShopId" :options="shops" value-field="id" text-field="shop_name"></b-form-select>
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-right px-0">
                <base-button
                    type="outline-success"
                    @click="addProduct()"
                    >
                    เพิ่มสินค้า
                </base-button>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-md-5 d-none">
              </div>
              <div class="table-responsive" style="min-height: 60px;">
                <base-table thead-classes="thead-light" :data="tableData">
                  <template slot="columns">
                    <th>No</th>
                    <th>ชื่อสินค้า</th>
                    <th>ชื่อร้าน</th>
                    <th>หมวดหมู่</th>
                    <th>จำนวน</th>
                    <th>ราคา</th>
                    <th>รายละเอียด</th>
                    <th>วันที่สร้าง</th>
                    <th>อัพเดทล่าสุด</th>
                    <th>{{ $t('report.action') }}</th>
                  </template>
                  <template slot-scope="{row}">
                    <td scope="row">{{ row.id }}</td>
                    <td scope="row">{{ row.name }}</td>
                    <td scope="row">{{ row.shop.shop_name }}</td>
                    <td scope="row">{{ row.product_category.category_name }}</td>
                    <td scope="row">{{ row.quantity }}</td>
                    <td scope="row">{{ row.price }}</td>
                    <td scope="row">{{ row.description }}</td>
                    <td scope="row">{{ row.created_at | moment("YYYY-MM-DD hh:mm") }}</td>
                    <td scope="row">{{ row.updated_at | moment("YYYY-MM-DD hh:mm") }}</td>
                    <td>
                      <base-button
                        type="outline-secondary  btn-sm"
                        @click="detailProduct(row)"
                      >รายละเอียด</base-button>
                      <base-button
                        type="outline-secondary  btn-sm"
                        @click="updateProduct(row)"
                      >แก้ไข</base-button>
                      <base-button
                        type="outline-danger btn-sm"
                        @click="deleteProduct(row)"
                      >ลบ</base-button>
                    </td>
                  </template>
                </base-table>
                <div class="col-12 text-center mt-3 mb-3" v-if="loadingTable">
                  <ring-loader color="#ed770e" :size="50" />
                </div>
              </div>
              <div class="col-12 pt-3 text-center" v-if="tableData.length == 0 && !loadingTable">
                <label>{{ $t('msgNotFoundData') }}</label>
              </div>
              <div class="col-12 pt-3" v-if="totalPage > 1">
                <base-pagination
                  :page-count="totalPage"
                  v-model="currentPage"
                  align="center"
                  size="lg"
                ></base-pagination>
              </div>
            </div>
          </card>
        </div>
      </div>
    </div>
    <b-modal id="modal-form-product" :title="mode == 'add' ? 'เพิ่มสินค้า' : 'แก้ไขสินค้า'" size="md" scrollable hide-footer title-tag="h3" body-class="pt-0 pb-3 border-top">
      <ValidationObserver v-slot="{ handleSubmit }">
      <div class="row mt-4">
          <form role="form" class="col-12" @submit.prevent="handleSubmit(summitForm)">
          <div class="col-sm-12">
            <div role="group">
              <label for="input-live">ร้านค้า*</label>
              <validation-provider name="ร้านค้า" rules="required"  v-slot="{ errors }">
              <b-form-select v-model="model.shop_id" :options="shops" value-field="id" text-field="shop_name"></b-form-select>
              <small slot="helpBlock" class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div role="group">
              <label for="input-live">ชื่อสินค้า*</label>
              <validation-provider name="ชื่อสินค้า" rules="required"  v-slot="{ errors }">
              <b-form-input
                placeholder="ชื่อสินค้า"
                v-model="model.name"
                trim
              ></b-form-input>
               <small slot="helpBlock" class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </div>
          </div>
          <div class="col-sm-12">
            <div role="group">
              <label for="input-live">หมวดหมู่*</label>
              <validation-provider name="หมวดหมู่" rules="required"  v-slot="{ errors }">
              <b-form-select v-model="model.product_category_id" :options="productCategories" value-field="id" text-field="category_name"></b-form-select>
               <small slot="helpBlock" class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div role="group">
              <label for="input-live">จำนวน*</label>
              <validation-provider name="จำนวน" rules="required"  v-slot="{ errors }">
              <b-form-input
                placeholder="จำนวน"
                v-model="model.quantity"
                trim
                type="number"
                step="1"
              ></b-form-input>
               <small slot="helpBlock" class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div role="group">
              <label for="input-live">ราคา*</label>
              <validation-provider name="ราคา" rules="required"  v-slot="{ errors }">
              <b-form-input
                placeholder="0.00"
                v-model="model.price"
                trim
                type="number"
              ></b-form-input>
              <small slot="helpBlock" class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div role="group">
              <label for="input-live">รายละเอียด*</label>
              <validation-provider name="รายละเอียดร้านค้า" rules="required"  v-slot="{ errors }">
              <b-form-textarea
                placeholder="รายละเอียดร้านค้า"
                v-model="model.description"
                trim
                rows="6"
                max-rows="6"
              ></b-form-textarea>
              <small slot="helpBlock" class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </div>
          </div>
            <div class="col-sm-12 mt-3">
            <div class="text-center">
              <b-button variant="outline-secondary" @click="$bvModal.hide('modal-form-product')">ยกเลิก</b-button>
              <base-button type="success" nativeType="submit" :disabled="isDisabledBtn">บันทึก</base-button>
            </div>
          </div>
          </form>
      </div>
       </ValidationObserver>
    </b-modal>
    <b-modal id="modal-delete-product" title="ลบสินค้า" size="sm" scrollable hide-footer title-tag="h3" body-class="pt-0 pb-3 border-top">
      <div class="row mt-4">
          <div class="col-sm-12">
            <div role="group">
              <label for="input-live">คุณต้องการลบสินค้า {{ modelDel.name }} หรือไม่?</label> 
            </div>
          </div>
            <div class="col-sm-12 mt-3">
            <div class="text-center">
              <b-button variant="outline-secondary" @click="$bvModal.hide('modal-delete-product')">ยกเลิก</b-button>
              <b-button variant="danger" :disabled="isDisabledBtn" @click="makeDeleteProduct">ลบ</b-button>
            </div>
          </div>
      </div>
    </b-modal>
     <b-modal id="modal-detail-product" title="รายละเอียดสินค้า" size="md" scrollable hide-footer title-tag="h3" body-class="pt-0 pb-3 border-top">
      <div class="flex-block mt-4" v-if="modelLookUp">
          <div class="row">
            <div class="col-sm-4">
              No
            </div>
            <div class="col-sm-8 float-left">
              {{ modelLookUp.id }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              ชื่อสินค้า
            </div>
            <div class="col-sm-8 float-left">
              {{ modelLookUp.name }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              ร้านค้า
            </div>
            <div class="col-sm-8 float-left">
              {{ modelLookUp.shop.shop_name }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              หมวดหมู่
            </div>
            <div class="col-sm-8 float-left">
              {{ modelLookUp.product_category.category_name }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              จำนวน
            </div>
            <div class="col-sm-8 float-left">
              {{ modelLookUp.quantity }}
            </div>
          </div>
           <div class="row">
            <div class="col-sm-4">
              ราคา
            </div>
            <div class="col-sm-8 float-left">
              {{ modelLookUp.price }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              สร้างเมื่อ
            </div>
            <div class="col-sm-8 float-left">
              {{ modelLookUp.created_at | moment("YYYY-MM-DD hh:mm") }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              อัพเดทล่าสุด
            </div>
            <div class="col-sm-8 float-left">
              {{ modelLookUp.updated_at | moment("YYYY-MM-DD hh:mm") }}
            </div>
          </div>
            <div class="col-sm-12 mt-3">
            <div class="text-center">
              <b-button variant="outline-secondary" @click="$bvModal.hide('modal-detail-product')">ปิด</b-button>
            </div>
          </div>
      </div>
    </b-modal>
  </div>
</template>
<script>
  import UserApi from "../../apis/userApi";
  export default {
    data() {
      return {
        model: {
          id: null,
          shop_id: null,
          product_category_id: null,
          name: null,
          price: null,
          quantity: null,
          description: null
        },
        modelDel: {},
        modelLookUp: null,
        mode: 'add',
        loadingTable: false,
        currentPage: 1,
        totalPage: 0,
        totalItem: 0,
        tableData: [],
        isDisabledBtn: false,
        lookUpShop: null,
        productCategories: [],
        shops: [],
        selectShopId: null
      }
    },
    watch: {
      currentPage: function () {
        this.productList();
      },
      selectShopId: function () {
        this.productListByShop(this.selectShopId);
      },
    },
    mounted() {
      this.selectShopId = this.$route.query.hasOwnProperty('shop') ? this.$route.query.shop : null
      if (!this.selectShopId){
        this.productList()
      }
      this.productCategoryList()
      this.shopList()
    },
    methods: {
      summitForm () {
        if (this.mode === 'add') {
          this.makeAddProduct()
        } else if (this.mode === 'update') {
          this.makeUpdateProduct()
        }
      },
      addProduct () {
        this.mode = 'add'
        this.model = {
          id: null,
          shop_id: null,
          product_category_id: null,
          name: null,
          price: null,
          quantity: null,
          description: null
        }
        this.$bvModal.show('modal-form-product')
      },
      detailProduct (product) {
        this.modelLookUp = product
        this.$bvModal.show('modal-detail-product')
      },
      updateProduct (product) {
        this.mode = 'update'
        this.$bvModal.show('modal-form-product')
        this.model = {...this.model, ...product}
      },
      deleteProduct (product) {
        this.modelDel = product
        this.$bvModal.show('modal-delete-product')
      },
      makeDeleteProduct () {
        UserApi.deleteProduct({id: this.modelDel.id})
          .then(()=> {
            this.$bvModal.hide('modal-delete-product')
            this.productList()
            this.$notify({
              group: 'info',
              type: 'success',
              text: 'ลบข้อมูลสำเร็จ'
            });
          })
          .catch(() => {
            this.$bvModal.hide('modal-delete-product')
            this.$notify({
              group: 'danger',
              type: 'danger',
              text: 'ลบข้อมูลไม่สำเร็จ'
            });
          })
          .finally(() => {
            this.$bvModal.hide('modal-delete-product')
          })
      },
      makeAddProduct () {
        this.isDisabledBtn = true
        delete this.model.id
        this.model.shop_id = parseInt(this.model.shop_id)
        this.model.product_category_id = parseInt(this.model.product_category_id)
        UserApi.addProduct(this.model)
          .then(()=> {
            this.model = {
              id: null,
              shop_id: null,
              product_category_id: null,
              name: null,
              price: null,
              quantity: null,
              description: null
            }
            this.$bvModal.hide('modal-form-product')
            this.productList()
            this.$notify({
              group: 'info',
              type: 'success',
              text: 'บันทึกข้อมูลสำเร็จ'
            });
          })
          .catch(() => {
            this.isDisabledBtn = false
            this.$notify({
              group: 'danger',
              type: 'danger',
              text: 'บันทึกข้อมูลไม่สำเร็จ'
            });
          })
          .finally(() => {
            this.isDisabledBtn = false
          })
      },
      makeUpdateProduct () {
        this.isDisabledBtn = true
        UserApi.updateProduct(this.model)
          .then(()=> {
            this.$bvModal.hide('modal-form-product')
            this.productList()
            this.$notify({
              group: 'info',
              type: 'success',
              text: 'บันทึกข้อมูลสำเร็จ'
            });
          })
          .catch(() => {
            this.isDisabledBtn = false
            this.$notify({
              group: 'danger',
              type: 'danger',
              text: 'บันทึกข้อมูลไม่สำเร็จ'
            });
          })
          .finally(() => {
            this.isDisabledBtn = false
          })
      },
      productList () {
        this.loadingTable = true;
        this.tableData = [];
        UserApi.getProduct({
          page: this.currentPage,
          size: 20
        })
          .then(response => {
            this.tableData = response.data.items;
            this.totalItem = response.data.total;
            this.totalPage = ~~(response.data.total / response.data.size);
          })
          .catch(() => {
            this.tableData = [];
            this.totalItem = 0;
            this.totalPage = 0;
          })
          .finally(() => {
            this.loadingTable = false;
          })
      },
      productListByShop (shopId) {
        this.loadingTable = true;
        this.tableData = [];
        UserApi.getProductByShop({
          id: shopId,
          page: this.currentPage,
          size: 20
        })
          .then(response => {
            this.tableData = response.data.items;
            this.totalItem = response.data.total;
            this.totalPage = ~~(response.data.total / response.data.size);
          })
          .catch(() => {
            this.tableData = [];
            this.totalItem = 0;
            this.totalPage = 0;
          })
          .finally(() => {
            this.loadingTable = false;
          })
      },
      productCategoryList () {
        UserApi.getProductCategory()
          .then(response => {
            this.productCategories = response.data.items;
          })
      },
      shopList () {
        this.loadingTable = true;
        this.tableData = [];
        UserApi.getShop({
          page: 1,
          size: 100
        })
        .then(response => {
          this.shops = response.data.items;
        })
      }
    },
  }
</script>
<style>
</style>
