<template>
  <div>
   <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8 theme-clean"></base-header>
    <div class="container-fluid mt--9">
      <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <card style="min-height:500px">
            <div slot="header" class="row align-items-center">
              <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <h5 class="h3 mb-0">
                  <router-link :to="{ name: 'reports' }" class>
                    <span>ร้านค้า</span>
                  </router-link>
                </h5>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right px-0">
                <base-button
                    type="outline-success"
                    @click="addShop()"
                    >
                    เพิ่มร้านค้า
                </base-button>
              </div>
            </div>
            <div class="row">
              <div class="table-responsive mt-2" style="min-height: 60px;">
                <base-table thead-classes="thead-light" :data="tableData">
                  <template slot="columns">
                    <th>No</th>
                    <th>ชื่อร้าน</th>
                    <th>เบอร์โทร</th>
                    <th>ที่อยู่</th>
                    <th>รายละเอียด</th>
                    <th>วันที่สร้าง</th>
                    <th>อัพเดทล่าสุด</th>
                    <th>กระทำ</th>
                  </template>
                  <template slot-scope="{row}">
                    <td scope="row">{{ row.id }}</td>
                    <td scope="row">{{ row.shop_name }}</td>
                    <td scope="row">{{ row.phone_number }}</td>
                    <td scope="row">{{ row.address }}</td>
                    <td scope="row">{{ row.description }}</td>
                    <td scope="row">{{ row.created_at | moment("YYYY-MM-DD hh:mm") }}</td>
                    <td scope="row">{{ row.updated_at | moment("YYYY-MM-DD hh:mm") }}</td>
                    <td>
                      <router-link :to="{ name: 'products', query: { shop: row.id }}">
                      <base-button
                        type="outline-secondary bg-outline-secondary-gray btn-sm"
                        @click="{}"
                      >
                      รายละเอียด
                      </base-button>
                      </router-link>
                      <base-button
                        type="outline-secondary bg-outline-secondary-gray btn-sm"
                        @click="updateShop(row)"
                      >
                      แก้ไข
                      </base-button>
                    </td>
                  </template>
                </base-table>
                <div class="col-12 text-center mt-3 mb-3" v-if="loadingTable">
                  <ring-loader color="#ed770e" :size="50" />
                </div>
              </div>
              <div class="col-12 pt-3 text-center" v-if="tableData.length == 0  && !loadingTable">
                <label>{{ $t('msgNotFoundData') }}</label>
              </div>
              <div class="col-12 pt-3" v-if="totalPage > 1">
                <base-pagination
                  :page-count="totalPage"
                  v-model="currentPage"
                  align="center"
                  size="lg"
                ></base-pagination>
              </div>
            </div>
          </card>
        </div>
      </div>
    </div>
    <b-modal id="modal-add-shop" :title="mode == 'add' ? 'เพิ่มร้านค้า' : 'แก้ไขร้านค้า'" size="md" scrollable hide-footer title-tag="h3" body-class="pt-0 pb-3 border-top">
      <ValidationObserver v-slot="{ handleSubmit }">
      <div class="row mt-4">
          <form role="form" class="col-12" @submit.prevent="handleSubmit(summitForm)">
          <div class="col-sm-12">
            <div role="group">
              <label for="input-live">ชื่อร้านค้า*</label>
              <validation-provider name="ชื่อร้านค้า" rules="required"  v-slot="{ errors }">
              <b-form-input
                placeholder="ชื่อร้านค้า"
                v-model="model.shop_name"
                trim
              >
              </b-form-input>
              <small slot="helpBlock" class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div role="group">
              <label for="input-live">เบอร์โทร*</label>
              <validation-provider name="เบอร์โทร" rules="required"  v-slot="{ errors }">
              <b-form-input
                placeholder="เบอร์โทร"
                v-model="model.phone_number"
                trim
              ></b-form-input>
              <small slot="helpBlock" class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div role="group">
              <label for="input-live">ที่อยู่*</label>
              <validation-provider name="ที่อยู่" rules="required"  v-slot="{ errors }">
              <b-form-textarea
                placeholder="ที่อยู่"
                v-model="model.address"
                trim
                rows="2"
                max-rows="4"
              ></b-form-textarea>
               <small slot="helpBlock" class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </div>
          </div>
          <div class="col-sm-12 mt-2">
            <div role="group">
              <label for="input-live">รายละเอียด*</label>
              <validation-provider name="รายละเอียด" rules="required"  v-slot="{ errors }">
              <b-form-textarea
                placeholder="รายละเอียดร้านค้า"
                v-model="model.description"
                trim
                rows="6"
                max-rows="6"
              ></b-form-textarea>
               <small slot="helpBlock" class="text-danger">{{ errors[0] }}</small>
              </validation-provider>
            </div>
          </div>
          <div class="col-sm-12 mt-3">
            <div class="text-center">
              <b-button variant="outline-secondary" @click="$bvModal.hide('modal-add-shop')">ยกเลิก</b-button>
              <base-button type="success" nativeType="submit" :disabled="isDisabledBtn">บันทึก</base-button>
            </div>
          </div>
          </form>
      </div>
      </ValidationObserver>
    </b-modal>
  </div>
</template>
<script>
  import UserApi from "../../apis/userApi";
  export default {
    data() {
      return {
        model: {
          id: null,
          shop_name: null,
          phone_number: null,
          address: null,
          description: null
        },
        mode: 'add',
        loadingTable: false,
        currentPage: 1,
        totalPage: 0,
        totalItem: 0,
        tableData: [],
        isDisabledBtn: false
      }
    },
    watch: {
      currentPage: function () {
        this.shopList();
      },
    },
    mounted() {
      this.shopList()
    },
    methods: {
      summitForm () {
        if (this.mode === 'add') {
          this.makeAddShop()
        } else if (this.mode === 'update') {
          this.makeUpdateShop()
        }
      },
      addShop () {
        this.mode = 'add'
        this.model = {
          id: null,
          shop_name: null,
          phone_number: null,
          address: null,
          description: null
        }
        this.$bvModal.show('modal-add-shop')
      },
      updateShop (shop) {
        this.mode = 'update'
        this.$bvModal.show('modal-add-shop')
        this.model = {...this.model, ...shop}
      },
      makeAddShop () {
        this.isDisabledBtn = true
        UserApi.addShop(this.model)
          .then(()=> {
            this.model = {
              id: null,
              shop_name: null,
              phone_number: null,
              address: null,
              description: null
            }
            this.$bvModal.hide('modal-add-shop')
            this.shopList()
            this.$notify({
              group: 'info',
              type: 'success',
              text: 'บันทึกข้อมูลสำเร็จ'
            });
          })
          .catch(() => {
            this.isDisabledBtn = false
            this.$notify({
              group: 'danger',
              type: 'danger',
              text: 'บันทึกข้อมูลไม่สำเร็จ'
            });
          })
          .finally(() => {
            this.isDisabledBtn = false
          })
      },
      makeUpdateShop () {
        this.isDisabledBtn = true
        UserApi.updateShop(this.model)
          .then(()=> {
            this.$bvModal.hide('modal-add-shop')
            this.shopList()
            this.$notify({
              group: 'info',
              type: 'success',
              text: 'บันทึกข้อมูลสำเร็จ'
            });
          })
          .catch(() => {
            this.isDisabledBtn = false
            this.$notify({
              group: 'danger',
              type: 'danger',
              text: 'บันทึกข้อมูลไม่สำเร็จ'
            });
          })
          .finally(() => {
            this.isDisabledBtn = false
          })
      },
      shopList () {
        this.loadingTable = true;
        this.tableData = [];
        UserApi.getShop({
          page: this.currentPage,
          size: 20
        })
        .then(response => {
          this.tableData = response.data.items;
          this.totalItem = response.data.total;
          this.totalPage = ~~(response.data.total / response.data.size);
        })
        .catch(() => {
          this.loadingTable = false;
          this.tableData = [];
          this.totalItem = 0;
          this.totalPage = 0;
        })
        .finally(() => {
          this.loadingTable = false;
        })
      }
    }
  }
</script>
<style>
</style>
