<template>
  <footer class="footer px-4">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6">
        <div class="copyright text-center text-lg-left text-muted">
          © {{year}} <a href="#" class="font-weight-bold ml-1" target="_blank">{{ appName }} {{ appEnv }} v{{ APP_VERSION }}</a>
        </div>
      </div>
      <div class="col-lg-6">

        <ul class="nav nav-footer justify-content-center justify-content-lg-end d-none">
          <li class="nav-item">
            <b-dropdown id="dropdown-dropup" size="sm" dropup v-bind:text="languageSelected" variant="outline-light" class="m-0">
                <b-dropdown-item
                  v-for="language in languages"
                  :key="language.key"
                  :value="language.key"
                  @click="changeLanguage(language.key)"
                >{{ language.name }}
                </b-dropdown-item>
              </b-dropdown>
          </li>
          <li class="nav-item d-none">
            <a href="#" class="nav-link" target="_blank">{{ $t('footer.aboutUs') }}</a>
          </li>
          <li class="nav-item d-none">
            <a href="#" class="nav-link" target="_blank">{{ $t('footer.termAndConditions') }}</a>
          </li>
          <li class="nav-item d-none">
            <a href="#" class="nav-link" target="_blank">{{ $t('footer.policy') }}</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  data() {
    return {
      year: new Date().getFullYear(),
      appName: process.env.VUE_APP_NAME,
      appEnv: process.env.NODE_ENV !== 'production' ? process.env.NODE_ENV : '',
      languageSelected: '',
      languageKeySelected: null,
      languages: []
    };
  },
  created () {
    this.languages = this.$store.getters.languages
    this.languageSelected = this.$store.getters.currentLanguageName
    this.languageKeySelected = this.$store.getters.currentLanguage
  },
  methods: {
    changeLanguage (lang) {
      this.setLocale(lang)
      this.$store.dispatch('changeLanguage', lang)
      this.languageSelected = this.languages.filter(language => language.key === lang)[0].name
    }
  }
};
</script>
<style></style>
