<template>
    <base-nav class="navbar-top navbar-dark-disabled"
              id="navbar-main"
              :show-toggle-button="false"
              expand>
        <ul class="navbar-nav align-items-center d-none d-md-flex ml-lg-auto">
            <li class="nav-item d-none">
              <a class="mr-2 text-gray link-shopping">
              <!--<i class="ni ni-cart" style="margin-top:10px;"></i>-->
              <shopping-cart-icon size="1.5x" class="" style="margin-top:10px;"></shopping-cart-icon>
              <badge type="danger" class="badge-shopping">9+</badge></a>
            </li>
            <li class="nav-item dropdown">
                <base-dropdown class="nav-link pr-0" position="right">
                    <div class="media align-items-center" slot="title">
                      <span class="avatar avatar-sm rounded-circle">
                        <img v-if="typeof user.images !== 'undefined'" alt="Image placeholder" :src="user.images.avatar.thumbnail !== null ? user.images.avatar.thumbnail : '/img/theme/boy.png'">
                        <img v-else-if="user.gender == 'female'" alt="Image placeholder" src="/img/theme/girl.png">
                        <img v-else alt="Image placeholder" src="/img/theme/boy.png">
                      </span>
                      <div class="media-body ml-2 d-none d-lg-block">
                          <span class="mb-0 text-sm  font-weight-bold">Admin</span>
                      </div>
                    </div>

                    <template>
                        <a class="dropdown-item">
                          <i class="ni ni-single-02"></i>
                          <span>{{ $t('nav.myprofile') }}</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">
                          <i class="ni ni-user-run"></i>
                          <span>{{ $t('nav.logout') }}</span>
                        </a>
                    </template>
                </base-dropdown>
            </li>
        </ul>
    </base-nav>
</template>
<script>
import {ShoppingCartIcon} from 'vue-feather-icons'
  export default {
    components: {ShoppingCartIcon},
    data() {
      return {
        activeNotifications: false,
        showMenu: false,
        searchQuery: '',
        user: this.$store.getters['user/user'],
        urlHoldPVManagement: process.env.VUE_APP_URL_HOLD_POINVALUE_MANAGEMENT +'?token='+ localStorage.getItem('accessToken'),
      };
    },
    watch: {
      'user': function () {
        this.user = this.$store.getters['user/user']
      }
    },
    computed: {
      memberName () {
        return this.$store.getters['user/memberName'];
      }
    },
    methods: {
      toggleSidebar() {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
      },
      hideSidebar() {
        this.$sidebar.displaySidebar(false);
      },
      toggleMenu() {
        this.showMenu = !this.showMenu;
      }
    }
  };
</script>
<style scoped>
  .badge-shopping {
    height: 1.2rem;
    width: 1.2rem;
    font-size: 0.6rem;
    margin-top: -10px;
    position: absolute;
  }
</style>
