<template>
  <div v-if="!isShowPage">
    <div v-if="callBackUrl" class="row">
      <div class="col-12 text-center mt-4">
        <span>Redirect..</span>
      </div>
    </div>
  </div>
  <div v-else class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <side-bar
      :background-color="sidebarBackground"
      v-bind:short-title="appName"
      v-bind:title="appName"
    >
      <template slot="mobile-right">
        <ul class="nav align-items-center d-none">
          <li class="nav-item d-none">
            <a  class="mr-2 text-gray">
              <!--<i class="ni ni-cart" style="margin-top:10px;"></i>-->
              <shopping-cart-icon size="1.5x" class="" style="margin-top:10px;"></shopping-cart-icon>
              <badge type="danger" class="badge-shopping">19+</badge>
            </a>
          </li>
          <base-dropdown class="nav-item" position="right">
              <a slot="title" class="nav-link" href="#" role="button">
                  <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle">
                      <img v-if="user.images.avatar.thumbnail" alt="Image placeholder" :src="user.images.avatar.thumbnail">
                      <img v-else-if="user.gender == 'female'" alt="Image Default" src="/img/theme/girl.png">
                      <img v-else alt="Image Default" src="/img/theme/boy.png">
                    </span>
                  </div>
              </a>

              <router-link :to="{ name: 'profile' }" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>{{ $t('nav.myprofile') }}</span>
              </router-link>
              <router-link :to="{ name: 'changePassword' }" class="dropdown-item">
                <i class="ni ni-lock-circle-open"></i>
                <span>{{ $t('nav.changePassword') }}</span>
              </router-link>
              <router-link :to="{ name: 'setting' }" class="dropdown-item">
              <settings-icon size="1.5x" class=""></settings-icon>
                <span>{{ $t('nav.settings') }}</span>
              </router-link>
              <div class="dropdown-divider"></div>
              <router-link :to="{ name: 'logout' }" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>{{ $t('nav.logout') }}</span>
              </router-link>
          </base-dropdown>
        </ul>
      </template>
      <template slot="links">
        <sidebar-item :link="{name: 'ร้านค้า', icon: 'ni ni-bullet-list-67', path: '/'}"/> 
        <sidebar-item :link="{name: 'สินค้า', icon: 'ni ni-bullet-list-67', path: '/products'}"/> 
      </template>
    </side-bar>
    <div class="main-content" :data="sidebarBackground">
      <dashboard-navbar></dashboard-navbar>

      <div @click="toggleSidebar">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </fade-transition>
        <content-footer v-if="!$route.meta.hideFooter"></content-footer>
      </div>
    </div>

  </div>
</template>
<script>
  import DashboardNavbar from './DashboardNavbar.vue';
  import ContentFooter from './ContentFooter.vue';
  import { FadeTransition } from 'vue2-transitions';
  import {ShoppingCartIcon, SettingsIcon} from 'vue-feather-icons'

  export default {
    components: {
      DashboardNavbar,
      ContentFooter,
      FadeTransition,
      ShoppingCartIcon,
      SettingsIcon
    },
    data() {
      return {
        appName: process.env.VUE_APP_NAME,
        appEnv: process.env.NODE_ENV !== 'production' ? process.env.NODE_ENV : '',
        sidebarBackground: 'orange', //vue|blue|orange|green|red|primary
        loading: false,
        user: this.$store.getters['user/user'],
        callBackUrl : '',
        isShowPage : null,
      };
    },
    created () {
      this.isShowPage = true
    },
    methods: {
      toggleSidebar() {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false);
        }
      }
    }
  };
</script>
<style lang="scss" scoped>
  @media (min-width: 768px){
    .navbar-vertical.navbar-expand-md .navbar-brand-img {
      max-height: 3rem !important;
    }
  }
  .badge-shopping {
    height: 1.2rem;
    width: 1.2rem;
    font-size: 0.6rem;
    margin-top: -10px;
    position: absolute;
  }
</style>
